<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="display: flex; align-items: center; justify-content: center; height: 100vh;">
<div id="session-display">
    <h1>Your Session ID</h1>
    <p>{{.SessionID}}</p>
</div>
<form method="POST" action="/logout" style="margin-top: 20px;">
    <button type="submit">Logout</button>
</form>

<!-- Passkey Registration Button -->
<form method="POST" action="/register-passkey" style="margin-top: 20px;">
    <button type="submit" style="width: 200px;">Register Passkey</button>
</form>

</body>
