<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <script>
        var stat = "unchanged";
        // cookie から rp-session-state を取得
        var session_state = document.cookie.split('; ').find(row => row.startsWith('rp_session_state')).split('=')[1];
        var mes = "web" + " " + session_state;
        var targetOrigin = "http://localhost:8080"; // openid providerのorigin
        var opFrameId = "op";
        var timerID;

        console.log(window.frames)

        function check_session()   {
            console.log("check_session")
            try {
                var win = window.frames[opFrameId].contentWindow
                win.postMessage(mes, targetOrigin);
            } catch (e) {
                console.log("error")
            }

        }

        function setTimer() {
            check_session();
            timerID = setInterval(check_session, 5 * 1000);
        }

        window.addEventListener("message", receiveMessage, false);

        function receiveMessage(e) {
            if (e.origin !== targetOrigin) {
                return;
            }
            stat = e.data;

            if (stat === "changed") {
                clearInterval(timerID);
                // then take the actions below...
            }
        }

        setTimer();
    </script>
</head>
<body>
<h1>{{ .Message }}</h1>

<iframe id="op" src="http://localhost:8080/check_session_iframe" style="display:none"></iframe>
</body>
</html>